.headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolTip {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 15px;
    min-width: 100%;
  }

.catHeading {
    font-size: 2em !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    letter-spacing: 0 !important;
}